*:focus-visible {
  outline: 2px solid black;
}
*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body {
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
.hidden {
  opacity: 0;
  user-select: none;
  -webkit-user-drag: none;
}
header {
  border-bottom: 1px solid black;
  padding: 1rem 0;
}
h1 {
  text-align: center;
  font-size: 64px;
}
button {
  padding: 0.25rem 1rem;
  border: 1px solid black;
  font-size: 1.4rem;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}
button:hover {
  filter: invert();
}
button:active {
  filter: invert() brightness(0.6);
}
#open {
  display: block;
  margin: 1rem auto 0;
}
dialog {
  width: min(800px, 80vw);
  border: 2px solid black;
  border-radius: 15px;
  padding: 1.5rem 1.5rem 2.5rem;
}
dialog input[type="text"] {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 7px;
  padding-inline-start: 10px;
  font-size: 1.3rem;
}

dialog .title-container {
  margin-bottom: 0.5rem;
}
dialog .title-container,
dialog .author-container {
  padding-top: 1.5rem;
  width: 90%;
  margin-inline: auto;
  position: relative;
  height: 65px;
}
input::placeholder {
  opacity: 0;
}
dialog label {
  font-size: 1.3rem;
  transition: top 250ms ease;
}
dialog div.title-container:has(input:focus) > label,
dialog div.author-container:has(input:focus) > label,
dialog .title-container label,
dialog .author-container label {
  top: -5%;
  cursor: default;
  opacity: 1;
  left: 10px;
  position: absolute;
}
dialog :has(input[type="text"]:placeholder-shown) label {
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: text;
  user-select: none;
}

dialog fieldset {
  border: 2px solid black;
  border-radius: 7px;
  margin: 3rem auto 0;
  width: 90%;
  position: relative;
}
dialog fieldset legend {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-110%);
  padding: 3px;
  opacity: 0.8;
}
dialog fieldset div {
  padding: 0.6rem 10px;
  position: relative;
}
dialog fieldset div input[type="radio"] {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
}
dialog fieldset div:has(input[type="radio"]:checked) {
  background-color: black;
  color: white;
}
dialog .button-container {
  width: 90%;
  margin: 2rem auto 0;
  display: flex;
  justify-content: space-between;
}
dialog .button-container #close {
  color: white;
  background-color: black;
  border-color: white;
}
main {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
}
main .card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}
main .card .button-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}
main .card button {
  font-size: 1.2rem;
}
main .card button.delete-button {
  color: white;
  background-color: black;
  border-color: white;
}
main .card {
  background-repeat: no-repeat;
  background-position: 95% 5%;
  background-size: 25%;
}
main .card:has(p.progress-node[data-progress="finished reading"]) {
  background-color: aquamarine;
  background-image: url(/assets/check-fat-fill.svg);
}
main .card:has(p.progress-node[data-progress="to read"]) {
  background-color: grey;
  background-image: url(/assets/pause-fill.svg);
  
}
main .card:has(p.progress-node[data-progress="reading"]) {
  background-color: cornflowerblue;
  background-image: url(/assets/play-fill.svg);
}