:root {
  --teal: #A8C686;
  --platinum: #dbdbdb;
  --blue: #6290C8;
  --white: #EAFFFD;
}
*:focus-visible {
  outline: 2px solid black;
}
*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
.no-display {
  display: none;
}
body {
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
.hidden {
  opacity: 0;
  user-select: none;
  -webkit-user-drag: none;
}
header {
  border-bottom: 1px solid black;
  padding: 1rem 0;
}
h1 {
  text-align: center;
  font-size: 64px;
}
button {
  padding: 0.35rem 1.25rem;
  border: 1px solid black;
  font-size: 1.5rem;
  border-radius: 7px;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
button:hover {
  filter: brightness(0.95);
}
button:active {
  filter: brightness(0.9);
}
#open {
  display: block;
  margin: 1rem auto 0;
}
dialog {
  width: min(800px, 80vw);
  border: 2px solid black;
  border-radius: 15px;
  padding: 2rem 1.5rem 2.5rem;
}
dialog::backdrop {
  background-color: gray;
  opacity: .5;
}
dialog input[type="text"] {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 7px;
  padding-inline-start: 10px;
  font-size: 1.3rem;
}

dialog .title-container,
dialog .author-container {
  padding-top: 1.5rem;
  width: 90%;
  margin-inline: auto;
  position: relative;
  height: 65px;
  margin-bottom: 1.5rem;
}
input::placeholder {
  opacity: 0;
}
dialog label {
  font-size: 1.3rem;
  transition: top 250ms ease;
}
dialog div.title-container:has(input:focus) > label,
dialog div.author-container:has(input:focus) > label,
dialog .title-container label,
dialog .author-container label {
  top: -5%;
  cursor: default;
  opacity: 1;
  left: 10px;
  position: absolute;
}
dialog :has(input[type="text"]:placeholder-shown) label {
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: text;
  user-select: none;
}
dialog p.required-title,
dialog p.required-author {
  padding-inline-start: 5px;
  color: darkred;
}

dialog fieldset {
  border: 2px solid black;
  border-radius: 7px;
  margin: 4rem auto 0;
  width: 90%;
  position: relative;
}
dialog fieldset legend {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-110%);
  padding: 3px;
  opacity: 0.8;
}
dialog fieldset div {
  padding: 0.6rem 10px;
  position: relative;
}
dialog fieldset div input[type="radio"] {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
dialog fieldset div:has(input[type="radio"])::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #000;
  z-index: -1;
}
dialog fieldset div:has(input[type="radio"]:checked) label {
  color: white;
}
dialog fieldset div:has(input[type="radio"]:checked)::after {
  width: 100%;
}
dialog fieldset div::after {
  transition: width 200ms ease-in;
}
dialog fieldset div label {
  transition: color 200ms ease-in;
}
dialog .button-container {
  width: 90%;
  margin: 2rem auto 0;
  display: flex;
  justify-content: space-between;
}
main {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
}
main .card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}
main .card .button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}
main .card button {
  font-size: 1.2rem;
  padding: .25rem .85rem;
}
main .card button.delete-button,
dialog .button-container button#close {
  color: white;
  background-color: darkred;
  border-color: black;
}
main .card p,
main .card h2 {
  margin-left: .75rem;
  width: 75%;
}
main .card p:first-of-type {
  filter: opacity(.7);
  margin-bottom: .4rem;
}
main .card p:last-of-type {
  filter: opacity(.7);
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: .1rem;
}
main .card {
  background-repeat: no-repeat;
  background-position: 95% 0%;
  background-size: 23%;
}
main .card:has(p.progress-node[data-progress="finished reading"]) {
  background-color: var(--teal);
  background-image: url(/assets/check-fat-fill.svg);
}
main .card:has(p.progress-node[data-progress="to read"]) {
  background-color: var(--platinum);
  background-image: url(/assets/pause-fill.svg);
}
main .card:has(p.progress-node[data-progress="reading"]) {
  background-color: var(--blue);
  background-image: url(/assets/play-fill.svg);
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 13vw;
  }
  main {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }
  main .card {
    background-size: 30%;
    background-position: 95% 35%;
    padding: 1rem .5rem;
  }
  main .card p,
  main .card h2 {
    width: 60%;
    margin-left: .5rem;
  }
  main .card button {
    font-size: 1.1rem;
    padding: .25rem .75rem;
  }
}