*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body {
  height: 100svh;
  height: 100vh;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
.hidden {
  opacity: 0;
  user-select: none;
  -webkit-user-drag: none;
}
header {
  border-bottom: 1px solid black;
  padding: 1rem 0;
}
h1 {
  text-align: center;
  font-size: 64px;
}
button {
  padding: 0.25rem 1rem;
  border: 1px solid black;
  font-size: 1.3rem;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}
button:hover {
  filter: invert();
}
button:active {
  filter: invert();
  filter: brightness(0.6);
}
button:focus-visible {
  outline: 2px solid black;
}
#open {
  display: block;
  margin: 1rem auto 0;
}
dialog {
  width: min(800px, 80vw);
  border: 2px solid black;
  border-radius: 15px;
  padding: 1.5rem 1.5rem 2.5rem;
}
dialog input[type="text"] {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 7px;
  padding-inline-start: 10px;
  font-size: 1.3rem;
}
dialog .title-container {
  margin-bottom: 0.5rem;
}
dialog .title-container,
dialog .author-container {
  padding-top: 1.5rem;
  width: 90%;
  margin-inline: auto;
  position: relative;
  height: 65px;
}
input::placeholder {
    opacity: 0;
}
dialog label {
  font-size: 1.3rem;
  transition: top 250ms ease;
}
dialog div.title-container:has(input:focus) > label,
dialog div.author-container:has(input:focus) > label,
dialog .title-container label,
dialog .author-container label {
  top: -5%;
  cursor: default;
  opacity: 1;
  left: 10px;
  position: absolute;
}
dialog :has(input[type="text"]:placeholder-shown) label {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: text;
  user-select: none;
  transform: none;
}
